extends ../../layouts/default.pug
include ../../mixins/box-header.pug
include ../../mixins/alert.pug
block main 
  .page__heading
    h1
      span Thanh toán
  //- +alert-order_success(3000)
  .address
    .address__solid.
      
      
    .address__container
      .address__container__header
        i.fa-solid.fa-location-dot
        h3 Địa Chỉ Nhận Hàng
      .address__container__body
        .infor
          .infor__name #{fullName}
          .infor__phone #{phone}
          .infor__address.
            #{address} 
        if(fullName && address)
          button.change__address Thay đổi
        if(!fullName ||!address)
          button.change__address Thêm địa chỉ
  table.list_products
    thead
      tr
        th
          p Ảnh
        th
          p Tên sản phẩm
        th
          p Đơn giá
        th
          p Số lượng
        th
          p Tổng tiền
    tbody
        if( (cart.products).length>0)
          each product, index in cart.products
            if( product.choosen == true)
              tr
                td
                  img(src=product.productInfor.thumbnail, alt style = 'width: 200px' )
                td
                  p #{product.productInfor.title}
                td
                  p #{product.productInfor.priceNew}đ
                td
                  input(type='number', value=product.quantity, min='1', style='width: 50px;'   ,  name = "quantity" , productId =product.productId  )
                td
                  p #{product.totalPrice}đ
  .paymethod 
    .paymethod__label Phương thức thanh toán      
    .method__pay__container 
      .method__pay__container__item 
        input(type="checkbox")
        img(src="/image/zalopay-logo-png_seeklogo-391409.png", alt="") 
        lable ksklkhlerleklrkhlkekhkrlehlhlkk 
      .method__pay__container__item 
        input(type="checkbox")
        img(src="/image/vnpay-logo-vinadesign-25-12-57-55.jpg", alt="") 
        lable ksklkhlerleklrkhlkekhkrlehlhlkk 
      .method__pay__container__item 
        input(type="checkbox")
        img(src="/image/icon-delivery-silhouette-illustration-free-vector.jpg", alt="") 
        lable Thanh toán khi nhận hàng   .
  .order
    h2 Tổng đơn hàng: #{cart.totalPrice}đ
    button
      h2 Đặt hàng
  .modal__Address
    .modal__layout__Address
    form(
      class = "formInforAddress"
      action="/checkout/changeAddress"
      method="POST"
    )
      h2 Địa chỉ mới
      .InforUser
        input(type='text' ,required ,name = "fullName"  placeholder='Họ tên')
        input(type='text',required  , name = "phone"  placeholder='Số điện thoại')
      .selectContainer
        input.selected(type='text',required  ,name = "address" ,  placeholder='Tỉnh/ Thành phố Quận/ Huyện Phường/Xã')
      
        .select-box
          .proviceContainer
            .city
              label.itemCity(for) Tỉnh/ Thành phố
            .distric
              label.itemDistric Quận/ Huyện
            .village
              label.itemVillage Phường/Xã
          .options-container
            
      input.addressSpecifically(type='text',name = "subAddress" ,placeholder='Địa chỉ cụ thể')
      .map
        button
          i.fa-solid.fa-plus
          | Thêm vị trí

      .defaultAddress
        input(type='checkbox')
        label.lableDefault(for='defaultAddress') Đặt làm địa chỉ mặc định
      .btnAddress
        .item
          .return Trở lại
          button Hoàn thành