include ../../mixins/alert.pug
meta(charset='UTF-8')
meta(name='viewport', content='width=device-width,initial-scale=1')
title Document
//  <link rel="stylesheet" href="./index.html"> 
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css', integrity='sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==', crossorigin='anonymous', referrerpolicy='no-referrer')
link(rel='stylesheet', href='/css/main.css')
header.header
  .header__title
    .header__title__text
      h1 Flower
      .header__title__text--dot
  .header__list
    ul
      li
        a( href="javascript:void(0)" id="home-link") Home
      li
        a( href="javascript:void(0)" id="about-link") About
      li
        a( href="javascript:void(0)" id="product-link") Product
      li
        a( href="javascript:void(0)" id="review-link") Review
      li
        a( href="javascript:void(0)" id="contact-link") Contact
  .header__icon

    .loginHome  Login
    .signinHome Signin
//  home section start 
+alert(3000)
section(class = "home" id="home-section")
  .home__text
    h1 Fresh Flowers
    h2
      | Natural & Beautiful Flowers

    p Những đóa hoa luôn là sự lựa chọn hoàn hảo cho các dịp lễ Tết, tỏ tình, 8/3, ngày cưới,… Nhu cầu mua hoa của con người cũng rất đa dạng: để ngắm, để trang trí, để tặng, thậm chí là để nấu ăn.
      a.btn(href = "/products") Shop now

section(class = "about"  id="about-section")
  h1.heading
    span About
    |  Us
  .about__container
    .about__container__video
      video(src='./video/about.mp4', loop, autoplay, muted)
      h3 best flower sellers
    .about__container__content
      h3 Why choose us?
      p.
        Shop hoa của chúng tôi tự hào mang đến cho bạn những đóa hoa tươi nhất, được tuyển chọn kỹ lưỡng từ những nhà vườn uy tín. Với sự đa dạng về loại hoa, mẫu mã và thiết kế sáng tạo, chúng tôi cam kết đáp ứng mọi nhu cầu của khách hàng, từ những dịp đặc biệt như lễ cưới, sinh nhật, đến các ngày lễ lớn.
        
      p.
        Không chỉ cung cấp sản phẩm chất lượng cao, chúng tôi còn chú trọng đến dịch vụ chăm sóc khách hàng tận tâm, giao hoa đúng giờ và đảm bảo sự hài lòng tối đa. Lựa chọn shop hoa của chúng tôi, bạn không chỉ nhận được những bó hoa đẹp, mà còn mang về niềm vui và ý nghĩa sâu sắc
        
      a.btn(href) learn more
//  about  section end 
//  icon secton start 
section.icon__conta
  .icons
    img(src='./image/fast-delivery.png', alt)
    span.info
      h3 Mễn phí ship
      span Tất cả các loại mặt hàng
  .icons
    img(src='./image/salary.png', alt)
    span.info
      h3 10 ngày trả hàng
      span Nhận tiền lại
  .icons
    img(src='./image/gift-box (1).png', alt)
    span.info
      h3 Quà tặng
      span Cho tất cả các đơn hàng
  .icons
    img(src='./image/pay.png', alt)
    span.info
      h3 Thanh toán an toàn
      span Được cam kết bở Paypal
//  icon section end 
//  Product section start
section(class = "product" id="product-section")
  h1.heading
    | Latest 
    span Products
  .product_items
    each item in productsNew
      .product__items__item
        span -#{item.discountPercentage}%
        a.link(href=`products/detail/${item.slug}`) 
          .product__items__item__image(data-id=`${item.id}`)
            img(src=item.thumbnail, alt) 
        //- .add__toCart
        //-   a.fa-solid.fa-heart(href)
        //-   a.product__item__text(href = `/cart/add/${item.id}`) add To Cart
        //-   a.fa-solid.fa-share(href)
        .product_info
          .product__name #{item.title}
          .product__price
            .product__price_new $#{item.priceNew}
            .product__price__old $#{item.price}
//  Product section end 
//  setion Custoomer Reviiew 
div(class = "customer__review"  id="review-section")
  .heading
    h1
      | Customer's
      span  Review
  .customer__review__container
    .customer__review__box
      .customer__review__box__star
        i.fa-solid.fa-star
        i.fa-solid.fa-star
        i.fa-solid.fa-star
        i.fa-solid.fa-star
        i.fa-solid.fa-star
      p.
        Không chỉ cung cấp sản phẩm chất lượng cao, chúng tôi còn chú trọng đến dịch vụ chăm sóc khách hàng tận tâm, giao hoa đúng giờ và đảm bảo sự hài lòng tối đachúng tôi còn chú trọng đến dịch vụ chăm sóc khách hàng tận tâm,
        
      .customer__review__box__user
        img.avatar(src='https://i.pinimg.com/originals/be/b2/88/beb28889996baacfe88cbcd461cd04b3.jpg', alt)
        .customer__review__box__user__name
          h3 John Smith
          p Happy Customer
        img(src='./image/inverted-commas (1).png', alt)
    .customer__review__box
      .customer__review__box__star
        i.fa-solid.fa-star
        i.fa-solid.fa-star
        i.fa-solid.fa-star
        i.fa-solid.fa-star
        i.fa-solid.fa-star
      p.
        chúng tôi còn chú trọng đến dịch vụ chăm sóc khách hàng tận tâm,
        
      .customer__review__box__user
        img.avatar(src='https://i.pinimg.com/originals/1d/06/a2/1d06a2d4e063628dc3251c40a032742b.jpg', alt)
        .customer__review__box__user__name
          h3 John Smith
          p Happy Customer
        img(src='./image/inverted-commas (1).png', alt)
    .customer__review__box
      .customer__review__box__star
        i.fa-solid.fa-star
        i.fa-solid.fa-star
        i.fa-solid.fa-star
        i.fa-solid.fa-star
        i.fa-solid.fa-star
      p.
        Không chỉ cung cấp sản phẩm chất lượng cao, chúng tôi còn chú trọng đến dịch vụ chăm sóc khách hàng tận tâm, giao hoa đúng giờ và đảm bảo sự hài lòng tối đa
        
      .customer__review__box__user
        img.avatar(src='https://i0.wp.com/wallpaperaccess.com/full/6174960.png', alt)
        .customer__review__box__user__name
          h3 John Smith
          p Happy Customer
        img(src='./image/inverted-commas (1).png', alt)
div(class = "contact"  id="contact-section")
  .heading
    h1
      span Contact 
      | Us

  .contact__box
    form(action = "/client/contact" ,enctype="application/x-www-form-urlencoded", method='POST')
      input(type='text',required, name='name', placeholder='name')
      input(type='email', required , name='email', placeholder='email')
      input(type='number',required , name='phone', placeholder='phone')
      textarea( type = 'text', required, name='message', placeholder='message')
      button.btn( type = "submit") Send Message
    .contact__box__image
      img(src='./image/contact.jpg', alt)

.modal
  .modal__layout.
    
    
  //  <div class="modal__body"> 
  //  <div class="main"> 
  form.form#form-1(action  = "/user/login", enctype="application/x-www-form-urlencoded", method='POST')
    .butLogin
      i.fa-solid.fa-x
    h1.heading Đăng nhập
    .spacer
    .form-group
      label.form__label(for='fullname') Tên đầy đủ
      input#fullname.form-control(name='fullName', type='text', placeholder='VD: Sơn Đặng'  required)
      span.form-message
    .form-group
      label.form__label(for='password') Mật khẩu
      input#password.form-control(name='password', type='password', placeholder='Nhập mật khẩu' required)
      span.form-message
    .loginOut 
      button
        a(href="") 
          img(src="/image/facebook", alt="" style = "height:25px")
          | Facebook 
      button
        a(href="/auth") 
          img(src="/image/google-logo.png", alt="" style = "height:30px")
          | Google  
    a(href="/user/password/forgot" style ="padding-top: 5px") Quên mật khẩu?
    button.form-submit Đăng nhập
  form.form1#form-1(action  = "/user/signin",  enctype="application/x-www-form-urlencoded", method='POST')
    .butLogin
      i.fa-solid.fa-x
    h1.heading Đăng kí
    .spacer
    .form-group
      label.form-label(for='fullname') Tên đầy đủ
      input#fullname.form-control(name='fullName', type='text', placeholder='VD: Sơn Đặng'   required)
      span.form-message
    .form-group
      label.form-label(for='email') Email
      input#email.form-control(name='email', type='email', placeholder='VD: email@domain.com'  required)
      span.form-message
    .form-group
      label.form-label(for='phone') Phone
      input#email.form-control(name='phone' ,  type='text',  required)
      span.form-message
    .form-group
      label.form-label(for='password') Mật khẩu
      input#password.form-control(name='password', type='password', placeholder='Nhập mật khẩu'  required)
      span.form-message
    .form-group
      label.form-label(for='password_confirmation') Nhập lại mật khẩu
      input#password_confirmation.form-control(name='password_confirmation', placeholder='Nhập lại mật khẩu', type='password'  required)
      span.form-message
    .loginOut 
      button
        a(href="") 
          img(src="/image/facebook", alt="" style = "height:25px")
          | Facebook 
      button
        a(href="/auth") 
          img(src="/image/google-logo.png", alt="" style = "height:30px")
          | Google  
    button.form-submit Đăng ký



  //- script(src="js/script.js") 
script(src="/socket.io/socket.io.js")
script( src="/js/script.js")
script( type="module" src="/js/cart.js") 