extends ../../layouts/defaultChat.pug
include ../../mixins/box-header.pug
include ../../mixins/alert.pug
block main 
    .page__heading

    .chat-container
      .chat-header
        | Chat
        i.fa-solid.fa-x
      .chat-messages
        each chat in chats
          if(user.id ==chat.userId)
            .messagechat.sent
              .message-content
                | #{chat.content}
              .message-images
                each image in chat.images
                  img(src=image alt="Image" class="message-image")   
          else 
            .messagechat.received
              .user-info
                img.avatar(src=chat.infoUser.avatar alt="Image" class="message-image")
                span.username #{chat.infoUser.fullName}
              .message-content
                | #{chat.content}
              .message-images
                each image in chat.images
                  img(src=image alt="Image" class="message-image")
        div(class="inner-list-typing")
        //-   div(class="box-typing")
        //-     div(class="inner-name") Le Van A
        //-     div(class="inner-dots")
        //-       span
        //-       span
        //-       span
        //-   div(class="box-typing")
        //-     div(class="inner-name") Le Van B
        //-     div(class="inner-dots")
        //-       span
        //-       span
        //-       span
      div(
        class="custom-file-container" 
        data-upload-id="upload-images"
      )
      form(class ="formChat" action my-id  = user.id)
        .chat-input
          input(type='text' name ="content" placeholder='Nhập nội dung...' )
          .input-actions
            i.far.fa-smile
            label(
              for="file-upload-with-preview-upload-images"
            ) <i class="fa-regular fa-image"></i>
            button( type ="submit")
              i.far.fa-paper-plane  
        emoji-picker(class ='')