extends ../../layouts/default.pug
include ../../mixins/box-header.pug
include ../../mixins/alert.pug

block main 
  .containerInfor
    div(class="containerInfor__user")
      .info
        .fullName
          img(src=user.avatar, alt)
          .con
            .name #{user.fullName}
            a(href=`/user/edit/${user.id}`) 
              i.fa-solid.fa-pen
              | Sửa Hồ Sơ
      .container
        .account
          i.fa-solid.fa-user
          a(href=href=`/user/edit/${user.id}`) Tài Khoản Của Tôi
        .buy
          i.fa-solid.fa-file-invoice
          a(href="/user/order") Đơn Mua
    div(class="containerInfor__order")
      div(class="containerInfor__order__header")
        .all.active
          | Tất cả
        .complete
          | Hoàn thành
        .cancel
          | Đã hủy
      .container
        // Table Header
        .table-header
          .cell MÃ ĐƠN HÀNG 
          .cell ẢNH
          .cell GIÁ
          .cell NGÀY ĐẶT
          .cell THANH TOÁN 
          .cell TRẠNG THÁI
        // Row 1
        if(products.length > 0)
          for item in products
            .tableContainer(onclick=`window.location.href = "/user/order/detail/${item._id}"`)
              .table-row
                .product-name #{item._id} 
                .cell
                  img.product-image(src=item.firstOdrderImage  alt='ảnh hoa')
                .cell #{item.price.toLocaleString('vi-VN')} vn&dstrok;
                .cell #{item.createdAtFormatted}
                .cell #{item.payment}
                .cell
                  if item.status === 'Chờ xác nhận'
                    span.statusBadge.pending Chờ xác nhận
                  else if item.status === 'Đang xử lý'
                    span.statusBadge.inProgress Đang xử lý
                  else if item.status === 'Đã hủy'
                    span.statusBadge.cancelled Đã hủy
                  else if item.status === 'Đang vận chuyển'
                    span.statusBadge.delivering Đang vận chuyển
                  else if item.status === 'Trả lại'
                    span.statusBadge.return Trả lại
                  else if item.status === 'Đã giao'
                    span.statusBadge.delivered Đã giao
                  else
                    span.statusBadge #{item.status}