sider
  .container__sider
    .sider__logo
      img( src = "https://cdn-icons-png.flaticon.com/512/4662/4662589.png" style = " width: 50px;heigth :auto ")
      h2 Flower
      .logo
    ul
      li
        i.fa-solid.fa-house
        a(href=`/${prefixAdmin}/dashboard`) DashBoard    
      li
        i.fa-solid.fa-list
        a(href=`/${prefixAdmin}/products`) Danh sách sản phẩm
      li
        i.fa-solid.fa-list
        a(href=`/${prefixAdmin}/product-category`)  Danh mục sản phẩm
      li
        i.fa-solid.fa-users-line
        a(href=`/${prefixAdmin}/roles`) Nhóm quyền
      li
        i.fa-solid.fa-user
        a(href=`/${prefixAdmin}/permissionRoles`) Phân quyền
      li
        i.fa-solid.fa-user
        a(href=`/${prefixAdmin}/accounts`) Tài khoản Admin
      li(liChat )
        i.fa-solid.fa-comments
        a(href=`/${prefixAdmin}/chats`) Chat
      li
        i.fa-solid.fa-bell
        a(href=`/${prefixAdmin}/notifications`) Thông báo

      li
        i.fa-solid.fa-box
        a(href=`/${prefixAdmin}/orders`) Đơn hàng
      li
        i.fa-solid.fa-gear
        a(href=`/${prefixAdmin}/setting/general`) Cài đặt
      li
        i.fa-solid.fa-right-from-bracket
        a(href=`/${prefixAdmin}/auth/login`) Đăng xuất